
$font: "Roboto", Arial
$mono: "Source Code Pro", Arial
$color: #FF1654

// color ideas:
// 53B3CB
// 42E2B8
// E01A4F

// responsive
@-ms-viewport
  width: device-width

.shadow
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 1%), 0 1px 10px 0 rgb(0 0 0 / 1%), 0 2px 4px -1px rgb(0 0 0 / 1%)

.dark-shadow
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 10%), 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 10%)

body
  font-family: $font
  background: #fafafa

// $image-width: 100px

.header
  padding-top: 35px
  padding-bottom: 35px
  overflow-y: hidden
  position: relative
  .left
    float: left
  .right
    float: right
    .links
      line-height: 1.7rem
      font-size: 1.1rem
      a
        color: black
  .name
    font-size: 1.7rem
    line-height: 1.7rem
    color: $color
    font-weight: 1000
    font-family: $mono
    .overflow-avatar
      // background: url("assets/Jack.jpg")
      position: absolute
      top: -75px
      float: left
      border-radius: 225px
      width: 250px
      height: 250px
      border: solid $color 3px
      z-index: 2
      // z-index: -1
      // filter: grayscale(100%)
      @extend .dark-shadow
    .name-text
      width: 250px
      -webkit-text-stroke: 2px white
      letter-spacing: 2px
      text-align: center
      position: relative
      z-index: 2

.under-header
  // height: 1px
  // background: linear-gradient(to right, $color, darken($color, 25%))
  // width: 100px
  margin: auto

.cute-button
  padding: 9px 17px
  background: lighten($color, 40%)
  border: solid $color 2px
  border-radius: 2px
  transition: all 0.1s
  letter-spacing: 2px
  color: #ac0303
  text-decoration: none
  margin-right: 10px
  @extend .dark-shadow
  &:hover
    background: lighten($color, 33%)
    text-decoration: none
    color: #ac0303
    @extend .shadow
  &:focus
    outline: 0

.header-wrapper
  background: #ffffff
  @extend .shadow

.clear
  clear: both

.container
  .custom-container
    width: 70%
    margin: auto
    margin-top: 70px
    p
      line-height: 1.5rem
      font-size: 1rem

.mod-back
  position: absolute
  width: 100%
  height: 100vh
  top: 0
  background: rgba(0, 0, 0, 0.4)
  display: none
  cursor: pointer
  z-index: 4
.mod
  position: relative
  z-index: 4
  display: none
  max-width: 600px
  padding: 35px
  max-height: calc(100vh - 70px)
  overflow-y: auto
  margin: auto
  background: white
  // margin-top: 40vh
  margin-top: 35px
  margin-bottom: 35px
  cursor: default
  font-size: 1.3rem
  border-radius: 3px
  p
    font-size: 1.2rem
    strong
      font-size: 1.5rem
  @extend .dark-shadow
.mod-wrapper
  position: fixed
  width: 100%
  z-index: 4

.heading
  font-size: 2.2rem
  text-align: center
  font-family: $font
  letter-spacing: 3px
  color: #e5e5e5
.heading.dark
  color: #575757
  color: black


.sub-heading
  text-transform: uppercase
  text-align: center
  font-size: 1.1rem

.brands
  text-align: center
  // cursor: pointer
  .brand
    line-height: 2rem
    height: 75px
    margin: 20px
    transition: 0.2s
    cursor: pointer !important

@media (max-width: 800px)
  .brands
    .brand
      margin: 5px
      width: calc(100% - 10px) !important
      height: auto !important
    img[src="brands/aldi.jpg"]
      width: calc(50% - 10px) !important
    margin-bottom: 70px
  .header
    .left, .right
      float: none
      text-align: center
    .right
      margin-top: 3px
  .heading
    font-size: 1.7rem
  .overflow-avatar
    display: none
  .name-text
    width: 100% !important
    text-align: center
    -webkit-text-stroke: 1px !important
