@media only screen and (max-width : 1200px)
  // .nav
  //   text-align: left

@media only screen and (max-width : 1000px)
  .nav
    ul > a
      font-size: 15px

@media only screen and (max-width : 850px)
  // slide open drawer in nav
  .nav > ul
    display: none !important

  .nav
    .slide-drawer
      display: block !important

  .nav-small
    display: block !important

  // .page-wrapper-cancel
  //   display: block !important
